body{
    background-color: #33da01;
    color: rgb(55, 206, 17)
 }
 .cabecalho {
    background-color: #0323d8;
    color: white;
    display:flex;
    justify-content: space-around;
    width: 150%;
    }
 .cabeçalho-imagem{
    width: 100px;
 }
 .estudante-imagem{
    width: 80%;
 }
 .estudante-icone{
    width: 24px;
    padding: 4px 8px;
 }
 .cabeçalho-imagem{
   width: 200%
}
.estudante-titulo{
   width: 100%;
}
.estudante{
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20% ;
}
